@import "./flex.less";

body {
  margin: 0;
  padding: 0;
}

.app {
  .flex(row, start, start, 8px);
  width: 100vw;
  height: 100vh;

  &-options {
    flex: 1;

    .ant-form {
      .ant-form-item {
        margin-bottom: 8px;

        &:first-child {
          margin-top: 8px;
        }
      }
    }
  }

  &-preview {
    width: 384px;
    height: 100%;
  }
}
